/* .video{
    height: 700px;
    width: 750px;
}

.div2{
    position: relative;
    bottom: 690px;
}
.div-main{
    height: 460px;
}
.div1{
    position: relative;
    bottom: 150px;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

#bg-video {
  object-fit: cover;
  z-index: -1;
}

.backdrop-blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
